<!DOCTYPE html>
<html>

    <head>
        <title>School News</title>
    </head>

    <body>
        <h1><strong>School News</strong></h1>
    <div>
        {%if news %}
            {% for item in news %}
                <div>
                   {{ item.title }}
                </div>
                <div>
                    {{ item.author}}
                </div>
                <div>
                    {{ item.date }}
                </div>
                <div>
                    {{ item.text }}
                </div>
            {% endfor %}
        {% else %}
            <strong>There are no news items present.</strong>
        {% endif %}
    </div>
    </body>
</html>